<div class="row">
  <div class="col-md-12">
    <h3>Deployments for: {{ repo }}</h3>
    <div>
      <b>Environment:</b>
      <select ng-model="environment" ng-options="env for env in environments">
        <option value="">All</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tr class="deployment" ng-repeat="deployment in deployments | filter:{ environment: environment } ">
        <td class="environment">{{ deployment.environment }}</td>
        <td>
          <span title="{{ deployment.updated_at | date:'M/d/yy H:mm:ss' }} UTC">
            {{ deployment.updated_at | date:'M/d h:mm a':'UTC' }}
          </span>
        </td>
        <td><a href="https://github.com/{{ repo }}/tree/{{ deployment.ref }}">{{ deployment.ref }}</a></td>
        <td><a href="https://github.com/{{ repo }}/commit/{{ deployment.sha }}">{{ deployment.sha | limitTo: 7 }}</a></td>
        <td>
          <a ng-repeat="status in deployment.statuses"
           ng-class="status.state"
           title="{{status.server}}"
           class="status">
           &nbsp;
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
